<div class="bracket" id="Bracket">
  <!--ROUND 1-1 -->
  <div class="layout winner ranked1"><img class="top" src="http://stmedia.startribune.com/images/bb19_castle-danger.png">
    <div class="text">(1) Castle Danger</div>
    <div class="numberBox">65%</div>
  </div>
  <div class="layout loser ranked16"><img src="http://stmedia.startribune.com/images/bb19_lift-bridge.png">
    <div class="text">(16) Lift Bridge</div>
    <div class="numberBox">35%</div>
  </div>
  <!-- ROUND 1-2 -->
  <div class="layout winner ranked2">
    <div class="text">Bent Paddle (2)<img class="top" src="http://stmedia.startribune.com/images/bb19_bent-paddle.png"></div>
    <div class="numberBox">71%</div>
  </div>
  <div class="layout loser ranked15">
    <div class="text">Steel Toe (15)<img src="http://stmedia.startribune.com/images/bb19_steel-toe.png"></div>
    <div class="numberBox">29%</div>
  </div>
  <!--ROUND 1-3 -->
  <div class="layout winner ranked3"><img class="top" src="http://stmedia.startribune.com/images/bb19_surly.png">
    <div class="text">Surly (3)</div>
    <div class="numberBox">61%</div>
  </div>
  <div class="layout loser ranked14"><img src="http://stmedia.startribune.com/images/bb19_insight.png">
    <div class="text">Insight (14)</div>
    <div class="numberBox">39%</div>
  </div>
  <!--ROUND 1-4 -->
  <div class="layout winner ranked4"><img class="top" src="http://stmedia.startribune.com/images/bb19_schells.png">
    <div class="text">(4) Schell's</div>
    <div class="numberBox">52%</div>
  </div>
  <div class="layout loser ranked13"><img src="http://stmedia.startribune.com/images/bb19_modist.png">
    <div class="text">(13) Modist</div>
    <div class="numberBox">48%</div>
  </div>
  <!--ROUND 1-5 -->
  <div class="layout winner ranked5"><img class="top" src="http://stmedia.startribune.com/images/bb19_summit.png">
    <div class="text">(5) Summit</div>
    <div class="numberBox">62%</div>
  </div>
  <div class="layout loser ranked12"><img src="http://stmedia.startribune.com/images/bb19_bad-weather.png">
    <div class="text">(12) Bad Weather</div>
    <div class="numberBox">38%</div>
  </div>
  <!--ROUND 1-6 -->
  <div class="layout winner ranked6"><img class="top" src="http://stmedia.startribune.com/images/bb19_dangerous-man.png">
    <div class="text">Dangerous Man (6)</div>
    <div class="numberBox">63%</div>
  </div>
  <div class="layout loser ranked11"><img src="http://stmedia.startribune.com/images/bb19_lupulin.png">
    <div class="text">Lupulin (11)</div>
    <div class="numberBox">37%</div>
  </div>
  <!--ROUND 1-7 -->
  <div class="layout winner ranked7"><img class="top" src="http://stmedia.startribune.com/images/bb19_fair-state.png">
    <div class="text">Fair State (7)</div>
    <div class="numberBox">61%</div>
  </div>
  <div class="layout loser ranked10"><img src="http://stmedia.startribune.com/images/bb19_barrel-theory.png">
    <div class="text">Barrel Theory (10)</div>
    <div class="numberBox">39%</div>
  </div>
  <!--ROUND 1-8 -->
  <div class="layout winner ranked8"><img class="top" src="http://stmedia.startribune.com/images/bb19_indeed.png">
    <div class="text">(8) Indeed</div>
    <div class="numberBox">52%</div>
  </div>
  <div class="layout loser ranked9"><img src="http://stmedia.startribune.com/images/bb19_fulton.png">
    <div class="text">(9) Fulton</div>
    <div class="numberBox">48%</div>
  </div>
  <!-- 
            ROUND 2 
        -->
  <!--ROUND 2-1 -->
  <div class="layout current round21">
    <div class="text">(1) Castle Danger</div>
    <div class="numberBox">-%</div>
  </div>
  <div class="layout current round22">
    <div class="text">(8) Indeed</div>
    <div class="numberBox">-%</div>
  </div>
  <!--ROUND 2-4 -->
  <div class="layout current round23">
    <div class="text">(4) Schell's</div>
    <div class="numberBox">-%</div>
  </div>
  <div class="layout current round24">
    <div class="text">(5) Summit</div>
    <div class="numberBox">-%</div>
  </div>
  <!--ROUND 2-2 -->
  <div class="layout current round25">
    <div class="numberBox">-%</div>
    <div class="text">(2) Bent Paddle</div>
  </div>
  <div class="layout current round26">
    <div class="numberBox">-%</div>
    <div class="text">(7) Fair State</div>
  </div>
  <!--ROUND 2-3 -->
  <div class="layout current round27">
    <div class="numberBox">-%</div>
    <div class="text">(3) Surly</div>
  </div>
  <div class="layout current round28">
    <div class="numberBox">-%</div>
    <div class="text">(6) Dangerous Man</div>
  </div>
  <!--
         ROUND 3 
        -->
  <div class="layout notYet round31">ROUND THREE
    <div class="numberBox">-%</div>
  </div>
  <div class="layout notYet round32">&nbsp;
    <div class="numberBox">-%</div>
  </div>
  <div class="layout notYet round33">ROUND THREE
    <div class="numberBox">-%</div>
  </div>
  <div class="layout notYet round34">&nbsp;
    <div class="numberBox">-%</div>
  </div>
  <!--
         ROUND 4 
         -->
  <div class="layout notYet round41">ROUND FOUR
    <div class="numberBox">-%</div>
  </div>
  <div class="layout notYet round42">ROUND FOUR
    <div class="numberBox">-%</div>
  </div>
  <div class="adBox">
    <!-- WITH SUPPORT FROM -->
    <br>
    <div id='div-gpt-ad-1853372-1'>
      <!--       <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1853372-1'); });
      </script> -->
    </div>
    <!-- End Body Tag -->
  </div>
  <!-- 
            vertical Poll bars 
        -->
  <div class="bar vbarPoll1-1">1-1</div>
  <div class="bar vbarPoll1-2">1-2</div>
  <div class="bar vbarPoll2-1">2-1</div>
  <div class="bar vbarPoll2-2">2-2</div>
  <div class="bar vbarPoll1-5">1-5</div>
  <div class="bar vbarPoll1-6">1-6</div>
  <div class="bar vbarPoll3-1">3-1</div>
  <div class="bar vbarPoll3-2">3-2</div>
  <div class="bar vbarPoll1-4">1-4</div>
  <div class="bar vbarPoll1-3">1-3</div>
  <div class="bar vbarPoll2-4">2-4</div>
  <div class="bar vbarPoll2-3">2-3</div>
  <div class="bar vbarPoll1-8">1-8</div>
  <div class="bar vbarPoll1-7">1-7</div>
</div>
